kibody{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
  text-align:center;
}

header{
  background:#111827;
  padding:15px;
}

#testList{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:10px;
  padding:20px;
}

.card{
  background:#1e293b;
  padding:15px;
  border-radius:10px;
  cursor:pointer;
}

button{
  padding:10px;
  margin-top:10px;
  width:200px;
}
